
{
  "openapi": "3.0.3",
  "info": {
    "title": "Azure AI Image Generation - FLUX.2-pro (Minimal)",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://hsin-mghqki48-eastus2.services.ai.azure.com/"
    }
  ],
  "paths": {
    "/openai/deployments/deployment-id/images/generations": {
      "post": {
        "operationId": "generateImage",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "default": "2024-02-15-preview" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt"],
                "properties": {
                  "prompt": { "type": "string" },
                  "size": { "type": "string", "default": "1024x1024" },
                  "n": { "type": "integer", "default": 1, "minimum": 1, "maximum": 8 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": { "type": "integer" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": { "url": { "type": "string" } },
                        "required": ["url"]
                      }
                    }
                  },
                  "required": ["data"]
                }
              }
            }
          },
          "400": { "description": "Bad request" },
          "401": { "description": "Unauthorized" }
        }
      }
    }
  }
}
