
{
  "openapi": "3.0.3",
  "info": {
    "title": "Azure Cognitive Services - Black Forest Labs FLUX.2-pro (Render-Friendly)",
    "version": "1.0.1",
    "description": "FLUX.2-pro text-to-image via Azure providers/blackforestlabs API. Schema includes a render-friendly data URI field."
  },
  "servers": [
    {
      "url": "https://hsin-mghqki48-eastus2.services.ai.azure.com/providers/blackforestlabs/v1/flux-2-pro?api-version=preview"
    }
  ],
  "paths": {
    "/providers/blackforestlabs/v1/flux-2-pro": {
      "post": {
        "operationId": "flux2ProGenerate",
        "summary": "Generate image (Text-to-Image) with FLUX.2-pro",
        "description": "Returns base64 in data[].b64_json, plus a render-friendly data URI field for direct image display in clients that support it.",
        "parameters": [
          {
            "name": "api-version",
            "in": "query",
            "required": true,
            "schema": { "type": "string", "default": "preview" },
            "description": "Use 'preview' per Azure docs."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "size", "n", "model"],
                "properties": {
                  "prompt": { "type": "string", "description": "Text prompt for image generation" },
                  "size": {
                    "type": "string",
                    "description": "WIDTHxHEIGHT (e.g., 1024x1024)",
                    "default": "1024x1024"
                  },
                  "n": {
                    "type": "integer",
                    "description": "Number of images to generate",
                    "default": 1,
                    "minimum": 1,
                    "maximum": 8
                  },
                  "model": {
                    "type": "string",
                    "description": "Model name. Must be 'flux.2-pro'",
                    "default": "flux.2-pro",
                    "enum": ["flux.2-pro"]
                  },
                  "guidance_scale": {
                    "type": "number",
                    "description": "Optional: CFG scale (prompt adherence)"
                  },
                  "num_inference_steps": {
                    "type": "integer",
                    "description": "Optional: Number of inference steps"
                  },
                  "seed": {
                    "type": "integer",
                    "description": "Optional: Seed for reproducibility"
                  }
                }
              },
              "examples": {
                "basic": {
                  "summary": "Minimal generation",
                  "value": {
                    "prompt": "A photograph of a red fox in an autumn forest",
                    "size": "1024x1024",
                    "n": 1,
                    "model": "flux.2-pro"
                  }
                },
                "advanced": {
                  "summary": "With CFG, steps, and seed",
                  "value": {
                    "prompt": "A futuristic cityscape at sunset, ultra-detailed, cinematic lighting",
                    "size": "1024x1024",
                    "n": 2,
                    "model": "flux.2-pro",
                    "guidance_scale": 4.5,
                    "num_inference_steps": 36,
                    "seed": 12345
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generation successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "integer",
                      "description": "Unix timestamp (seconds) if provided"
                    },
                    "data": {
                      "type": "array",
                      "description": "Original data array from provider",
                      "items": {
                        "type": "object",
                        "properties": {
                          "b64_json": {
                            "type": "string",
                            "description": "Base64-encoded image (PNG/JPEG)."
                          },
                          "mime_type": {
                            "type": "string",
                            "description": "Optional MIME type, e.g. image/png"
                          }
                        },
                        "required": ["b64_json"]
                      }
                    },
                    "image_data_uri": {
                      "type": "string",
                      "description": "Render-friendly data URI (data:image/png;base64,...) built from data[0].b64_json. Some clients render this directly.",
                      "example": "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
                    }
                  },
                  "required": ["data"]
                },
                "examples": {
                  "renderable": {
                    "summary": "Response with data URI",
                    "value": {
                      "created": 1736572800,
                      "data": [
                        {
                          "b64_json": "<base64-string-truncated>",
                          "mime_type": "image/png"
                        }
                      ],
                      "image_data_uri": "data:image/png;base64,<base64-string-truncated>"
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request (invalid parameters)" },
          "401": { "description": "Unauthorized (missing/invalid Bearer token)" },
          "429": { "description": "Rate limit exceeded" },
          "500": { "description": "Server error" }
        }
      }
    }
  }
}
